<div
  class="bg-white w-[635px] h-[150px] rounded-[18px] mx-4 flex flex-col justify-center items-center"
>
  <div class="flex text-[#E13205] text-xl font-semibold pb-2">
    <p>{{ title }}</p>
  </div>
  <div
    class="flex text-white rounded-[18px] bg-[#E13205] text-xl font-semibold w-[300px] text-center items-center"
  >
    <p class="flex px-8 py-2 mx-auto">Scanna mig</p>
  </div>
  <div class="flex text-[#8D8D8D] pt-2 text-sm font-semibold">
    <p>Håll telefonen mot texten</p>
  </div>
</div>
