.icon {
  background-image: url("../../../assets/images/nfc-scan.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  position: absolute;
  right: 20px;
  top: 28px;
}
@media screen and (max-width: 1024px) {
  .icon {
    height: 54px;
    width: 54px;
    position: absolute;
    right: 65px;
    top: 32px;
  }
}
