<div
  class="bg-white w-[320px] lg:w-[435px] h-[100px] lg:h-[120px] rounded-[18px] flex flex-col justify-center items-center scale-75"
>
  <div class="flex text-[#E13205] text-lg lg:text-xl font-semibold pb-2">
    <p>{{ title }}</p>
  </div>
  <div
    class="flex text-white rounded-[18px] bg-[#E13205] text-xl font-semibold w-auto lg:w-[300px] text-center items-center"
  >
    <p class="flex px-8 py-2 mx-auto text-xs lg:text-lg">Blippa mig</p>
    <div class="icon"></div>
  </div>
  <div class="flex text-[#8D8D8D] pt-2 text-xs lg:text-sm font-semibold">
    <p>Håll telefonen mot texten</p>
  </div>
</div>
