<div class="grid">
  <div class="section" appScrollAnimation>
    <div class="hero tunnel">
      <div class="diagonal-hero-bg">
        <div class="stars">
          <div class="small"></div>
          <div class="medium"></div>
          <div class="big"></div>
        </div>
      </div>
      <div class="sticker"></div>
      <div class="signpost"></div>
      <div class="animate">
        <img src="../assets/images/phone.png" alt="phone" />
        <div class="animate-secondary">
          <img src="../assets/images/notification.png" alt="notification" />
        </div>
        <div class="animate-third">
          <img
            class="m-auto justify-center items-center flex"
            src="../assets/images/web-dummy.png"
            alt="web-dummy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
