.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 320vh ;
  background-color: #6200ee;
  scroll-behavior: smooth;


  .section {
    grid-row: 1;
    background-color: #fff;

    .tunnel {
      animation-delay: inherit;
      background-image: linear-gradient(to bottom, #4B0082, #000000);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: sticky;
      top: 0vh;
      //   animation: zoomStore 1.1s linear infinite;
      //   animation-play-state: paused;
      //   animation-delay: inherit;

      .animate {
        animation: slideInFromBottom 1.1s linear infinite;
        animation-play-state: paused;
        animation-delay: inherit;
        width: 180px;
      }
      .animate-secondary {
        animation: showNotificationAnimation 0.25s linear;
        animation-play-state: paused;
        position: absolute;
        top: 15vh;
        margin: auto;
        justify-content: center;
        display: flex;
        width: 100%;
        padding: 2px;
        height: 10%;
        z-index: 40;
      }
      .animate-third {
        animation: openAppAnimation 0.25s linear;
        animation-play-state: paused;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 50;
      }
    }
  }
}
@keyframes slideInFromBottom {
  to {
    transform: translateY(15vh) scale(1.5);
    opacity: 1;
  }
  from {
    transform: translateY(100vh) scale(0.25);
    opacity: 0.7;
  }
}

@keyframes showNotificationAnimation {
  to {
    transform: scale(1);
    opacity: 1;
  }
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes openAppAnimation {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(0);
  }
}

@keyframes zoomStore {
  to {
    transform: scale(1.5);
  }
  from {
    transform: scale(1);
  }
}
