<div
  class="sidenav p-8"
  [@sidenavAnimation]="isExpanded ? 'expanded' : 'collapsed'"
>
  <!-- Your side navigation menu items -->
  <ul>
    <li (click)="scrollToSection('aboutUsSection')">
      <h3 class="text-primaryText text-lg py-2 cursor-pointer">Om</h3>
    </li>
    <li (click)="scrollToSection('ourProductsSection')">
      <h3 class="text-primaryText text-lg py-2 cursor-pointer">
        Våra produkter
      </h3>
    </li>
    <li (click)="scrollToSection('benefitsSection')">
      <h3 class="text-primaryText text-lg py-2 cursor-pointer">
        Varför Templett?
      </h3>
    </li>
    <li (click)="scrollToSection('faqSection')">
      <h3 class="text-primaryText text-lg py-2 cursor-pointer">
        Frågor och svar
      </h3>
    </li>
    <li (click)="scrollToSection('footerSection')">
      <h3 class="text-primaryText text-lg py-2 cursor-pointer">Kontakta oss</h3>
    </li>

    <!-- Add other menu items -->
  </ul>
  <div class="h-32 justify-center items-center flex absolute bottom-0">
    <img
      alt="Logo"
      class="h-24 w-24 my-4"
      src="./assets/images/templett_logo.svg"
    />
  </div>
</div>
