<div
  id="aboutUsSection"
  class="w-full h-auto justify-center flex max-w-[1200px] mx-auto flex-col items-center scroll-mt-8"
>
  <header>
    <h1 class="templett-main-header text-primaryText max-w-[800px] pt-20 mx-8">
      Ta kontroll över din verksamhets digitalisering med Templett's smarta
      stickers!
    </h1>
  </header>
  <div class="flex flex-col-reverse lg:flex-row w-[80%] pt-12 gap-8">
    <div #leftAboutUsDiv class="flex flex-col w-full lg:w-1/2">
      <h3 class="text-3xl font-semibold pb-3 text-primaryText">Om oss</h3>
      <p class="text-primaryText">
        Vi är grundarna av Templett och brinner för att skapa innovativa
        lösningar för att förenkla folks vardag på olika sätt. Vår passion för
        teknik och entreprenörskap har drivit oss att utveckla Templett – en
        plattform som hjälper butiksägare att skapa en spännande och interaktiv
        shoppingmiljö.
      </p>
      <p class="text-primaryText pt-3">
        Driver du en verksamhet med tillgång till en bra hemsida med information
        som exempelvis veckobrev, annonser, recepttips eller liknande och vill
        förmedla denna informationen till dina kunder? Då är vi på Templett här
        för att hjälpa dig!
      </p>
    </div>
    <div #rightAboutUsDiv class="flex w-full lg:w-1/2 pb-8 lg:pb-0 lg:mx-4">
      <img
        class="p-4 lg:pb-20 lg:pl-20 lg:pt-0 lg:pr-0"
        src="./assets/images/templett_logo.svg"
        alt="about-image"
      />
    </div>
  </div>
</div>
