<div class="w-full h-auto justify-center flex max-w-[1000px] mx-auto ">
    <div class="flex flex-row w-full hide-before-animate py-12 " animateDivEntry>
        <div #leftAboutUsDiv class="flex flex-col w-1/2 ">
            <h1 class="text-3xl font-semibold pb-3 text-primaryText">header</h1> 
            <p class="text-primaryText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
            <p class="text-primaryText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

        </div>
        <div #rightAboutUsDiv class="flex w-1/2 "> 
            <img class="rounded-default mx-4" src="../../../assets/images/about-us.jpg" alt="about-image"/>
        </div>
    </div>
</div>