<div class="w-full h-auto justify-center flex max-w-[1200px] mx-auto">
  <div class="hide-before-animate w-full" animateDivEntry>
    <h2 class="templett-flow-header text-primaryText">Varför Templett?</h2>
    <div class="w-full h-auto grid grid-cols-2 gap-8 p-8">
      <div
        *ngFor="let benefit of benefits"
        #leftBenefitsDiv
        class="flex w-full h-auto"
      >
        <div
          #benefitsCard
          class="flex flex-row w-full h-full space-between bg-secondary rounded-default p-8"
        >
          <div class="w-24 h-full">
            <img
              class="h-full"
              src="./assets/images/{{ benefit.icon }}"
              alt="Benefit Icon"
            />
          </div>
          <div class="flex-col flex w-full h-full ml-8">
            <div class="w-full justify-center flex flex-col">
              <h2 class="text-md text-secondaryText text-left mt-2">
                <span class="font-semibold"> {{ benefit.title }}. </span>
                {{ benefit.substring }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
