<div
  id="footerSection"
  class="h-[40vh] flex flex-col w-full bg-primary footer justify-evenly items-center"
>
  <div class="flex">
    <p class="text-primaryText text-xl font-semibold">Hör av er till oss!</p>
  </div>
  <div
    class="flex text-primaryText flex-row w-[80%] max-w-[400px] justify-evenly"
  >
    <div class="backToTopButton cursor-pointer" (click)="togglePhoneInfo()">
      <img class="invert" src="./assets/images/phone.svg" />
    </div>

    <div class="backToTopButton cursor-pointer" (click)="toggleEmailInfo()">
      <img class="invert" src="./assets/images/email.svg" />
    </div>

    <a
      class="backToTopButton cursor-pointer"
      href="https://www.linkedin.com/in/erik-junghahn-751a3215b/"
      target="_blank"
    >
      <img class="invert opacity-75" src="./assets/images/linkedin.svg" />
    </a>
  </div>
  <div class="overlay h-2">
    <p
      *ngIf="showPhoneInfo"
      [@fadeInOut]
      class="text-primaryText font-semibold"
    >
      +46 793 479 334
    </p>

    <p
      *ngIf="showEmailInfo"
      [@fadeInOut]
      class="text-primaryText font-semibold"
    >
      kontakt@templett.se
    </p>
  </div>
  <div class="flex">
    <p class="text-primaryText text-lg font-semibold">
      © Templett 2023-2023 Göteborg
    </p>
  </div>
  <div class="backToTopButton cursor-pointer" (click)="scrollToSection('body')">
    <img class="invert" src="./assets/images/chevron-up.svg" />
  </div>
</div>
