.templett-flow-header {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}


.title {
  margin: 0 auto 15px;
  z-index: 1;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .templett-flow-header {
    font-size: 40px;
  }
}
