<section #carousel id="carousel" class="carousel -mt-16" aria-label="Gallery">
  <ol class="carousel__viewport bg-primary">
    <li id="carousel__slide1" tabindex="0" class="carousel__slide">
      <div class="overlay"></div>

      <div class="carousel__snapper">
        <div class="w-full h-full justify-center flex flex-col items-center">
          <p
            class="text-primaryText title appear-from-bottom-primary text-center"
          >
            Butiker
          </p>
          <p class="text-primaryText text appear-from-bottom-secondary">
            Digitalisera dina kundkorgar
          </p>
          <a
            (click)="scrollToSection('faqSection')"
            class="btn mt-8 appear-from-bottom-tertiary cursor-pointer"
          >
            <span class="btn-inner">Visa Mer</span>
          </a>
        </div>
        <a (click)="scrollPage(4)" class="carousel__prev cursor-pointer"
          >Go to last slide</a
        >
        <a (click)="scrollPage(2)" class="carousel__next cursor-pointer"
          >Go to next slide</a
        >
      </div>
    </li>
    <li id="carousel__slide2" tabindex="0" class="carousel__slide">
      <div class="overlay"></div>

      <div class="carousel__snapper">
        <div class="w-full h-full justify-center flex flex-col items-center">
          <p
            class="text-primaryText title appear-from-bottom-primary text-center"
          >
            GYM
          </p>
          <p class="text-primaryText text appear-from-bottom-secondary">
            Inspirera och informera
          </p>
          <a
            (click)="scrollToSection('faqSection')"
            class="btn mt-8 appear-from-bottom-tertiary cursor-pointer"
          >
            <span class="btn-inner">Visa Mer</span>
          </a>
        </div>
        <a (click)="scrollPage(1)" class="carousel__prev cursor-pointer"
          >Go to last slide</a
        >
        <a (click)="scrollPage(3)" class="carousel__next cursor-pointer"
          >Go to next slide</a
        >
      </div>
    </li>
    <li id="carousel__slide3" tabindex="0" class="carousel__slide">
      <div class="overlay"></div>

      <div class="carousel__snapper">
        <div class="w-full h-full justify-center flex flex-col items-center">
          <p
            class="text-primaryText title appear-from-bottom-primary text-center"
          >
            Resturanger
          </p>
          <p class="text-primaryText text appear-from-bottom-secondary">
            Förbättra kundupplevelsen
          </p>
          <a
            (click)="scrollToSection('faqSection')"
            class="btn mt-8 appear-from-bottom-tertiary cursor-pointer"
          >
            <span class="btn-inner">Visa Mer</span>
          </a>
        </div>
        <a (click)="scrollPage(2)" class="carousel__prev cursor-pointer"
          >Go to last slide</a
        >
        <a (click)="scrollPage(4)" class="carousel__next cursor-pointer"
          >Go to next slide</a
        >
      </div>
    </li>
    <li id="carousel__slide4" tabindex="0" class="carousel__slide">
      <div class="overlay"></div>

      <div class="carousel__snapper">
        <div class="w-full h-full justify-center flex flex-col items-center">
          <p
            class="text-primaryText title appear-from-bottom-primary text-center"
          >
            Marknader
          </p>
          <p class="text-primaryText text appear-from-bottom-secondary">
            Holl koll på priser
          </p>
          <a
            (click)="scrollToSection('faqSection')"
            class="btn mt-8 appear-from-bottom-tertiary cursor-pointer"
          >
            <span class="btn-inner">Visa Mer</span>
          </a>
        </div>
        <a (click)="scrollPage(3)" class="carousel__prev cursor-pointer"
          >Go to last slide</a
        >
        <a (click)="scrollPage(1)" class="carousel__next cursor-pointer"
          >Go to next slide</a
        >
      </div>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a
          (click)="scrollPage(1)"
          class="carousel__navigation-button cursor-pointer"
          ><div class="carousel__navigation-button-line"></div>
        </a>
      </li>
      <li class="carousel__navigation-item">
        <a
          (click)="scrollPage(2)"
          class="carousel__navigation-button cursor-pointer"
          ><div class="carousel__navigation-button-line"></div
        ></a>
      </li>
      <li class="carousel__navigation-item">
        <a
          (click)="scrollPage(3)"
          class="carousel__navigation-button cursor-pointer"
          ><div class="carousel__navigation-button-line"></div
        ></a>
      </li>
      <li class="carousel__navigation-item">
        <a
          (click)="scrollPage(4)"
          class="carousel__navigation-button cursor-pointer"
          ><div class="carousel__navigation-button-line"></div
        ></a>
      </li>
    </ol>
  </aside>
</section>
