<div class="grid">
  <div class="section" appScrollAnimation>
    <div class="hero tunnel">
      <div class="diagonal-hero-bg">
        <p
          class="text-7xl w-full m-auto text-primaryText flex text-center h-full absolute top-[10vh] justify-center font-bold"
        >
          Templett
        </p>
        <p
          class="text-2xl w-full m-auto text-primaryText flex text-center h-full absolute top-[21vh] justify-center font-bold"
        >
          Digitalisera dina kundkorgar idag!
        </p>
        <div class="stars">
          <div class="small"></div>
          <div class="medium"></div>
          <div class="big"></div>
        </div>
      </div>
      <div class="center">
        <app-vertical-rotating-carousel></app-vertical-rotating-carousel>
      </div>
      <div class="animate">
        <img src="./assets/images/phone.png" alt="phone" />
        <div class="animate-secondary">
          <img src="./assets/images/notification.png" alt="notification" />
        </div>
        <div class="animate-third">
          <img
            class="m-auto justify-center items-center flex"
            src="./assets/images/web-dummy.png"
            alt="web-dummy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
