<div class="wrapper">
  <div class="carousel">
    <div class="carousel__item">
      <app-sticker [title]="'Våra erbjudanden!'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Veckans annonsbrev'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Veckans middagstips'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Spännande Frukost-tips'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Slumpa ett recept'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Vi söker kollegor'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Bygg ett marabouhus!'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Våra erbjudanden!'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Veckans annonsbrev'"></app-sticker>
    </div>
    <div class="carousel__item">
      <app-sticker [title]="'Veckans middagstips'"></app-sticker>
    </div>
  </div>
</div>
