<div id="body" class="h-auto w-full">
  <app-header></app-header>

  <app-mobile-header></app-mobile-header>

  <app-hero></app-hero>

  <div class="w-full h-auto bg-primary">
    <div class="top-gradient absolute top-[98vh] h-96"></div>
    <div class="hide-before-animate" animateDivEntry>
      <app-about-section></app-about-section>
    </div>
    <div class="pt-8 lg:pt-12 hide-before-animate" animateDivEntry>
      <app-basic-stickers-info></app-basic-stickers-info>
    </div>
    <div class="py-20 lg:py-40 hide-before-animate" animateDivEntry>
      <app-animated-sticker></app-animated-sticker>
    </div>
    <div class="pt-8 lg:pt-12 hide-before-animate" animateDivEntry>
      <app-product-video></app-product-video>
    </div>

    <div class="pt-8 lg:pt-12 hide-before-animate" animateDivEntry>
      <app-offers-section></app-offers-section>
    </div>

    <div class="lg:pt-12 hidden lg:block hide-before-animate" animateDivEntry>
      <app-benefits-section></app-benefits-section>
    </div>

    <div class="pt-12 block lg:hidden hide-before-animate" animateDivEntry>
      <app-mobile-benefits-section></app-mobile-benefits-section>
    </div>
    <div class="pt-12 lg:pt-20 hide-before-animate" animateDivEntry>
      <app-stats-section></app-stats-section>
    </div>

    <div class="pt-12 hide-before-animate" animateDivEntry>
      <app-faq-section></app-faq-section>
    </div>
    <div class="pt-8 lg:pt-12 hide-before-animate" animateDivEntry>
      <app-manual-downloads></app-manual-downloads>
    </div>

    <app-footer></app-footer>
  </div>
</div>
