<div id="body" class="h-auto w-full">
  <app-header></app-header>

  <app-mobile-header></app-mobile-header>

  <app-hero></app-hero>

  <div class="w-full h-auto bg-primary">
    <app-about-section></app-about-section>

    <div class="mt-8 lg:mt-20">
      <app-product-video></app-product-video>
    </div>
    <div class="mt-8 lg:mt-20">
      <app-offers-section></app-offers-section>
    </div>

    <div class="lg:mt-20">
      <app-stats-section></app-stats-section>
    </div>

    <div class="lg:mt-20 hidden lg:block">
      <app-benefits-section></app-benefits-section>
    </div>

    <div class="mt-20 block lg:hidden">
      <app-mobile-benefits-section></app-mobile-benefits-section>
    </div>

    <div class="mt-20">
      <app-faq-section></app-faq-section>
    </div>
    <app-footer></app-footer>
  </div>
</div>
