<div id="body" class="bg-secondary w-full">
  <app-header></app-header>

  <app-hero></app-hero>
  <p class="text-black">hej</p>
  <div class="w-full h-auto bg-primary">
    <app-about-section></app-about-section>

    <div class="mt-20">
      <app-offers-section></app-offers-section>
    </div>

    <div class="mt-20">
      <app-stats-section></app-stats-section>
    </div>

    <div class="mt-20">
      <app-benefits-section></app-benefits-section>
    </div>

    <div class="mt-20">
      <app-faq-section></app-faq-section>
    </div>
  </div>
  <div class="bg-gray-400 h-screen"></div>
</div>
