<div
  id="offersSection"
  class="w-full h-auto justify-center flex max-w-[1200px] 2xl:max-w-[1200px] mx-auto"
>
  <div class="hide-before-animate w-full" animateDivEntry>
    <h1 class="templett-flow-header text-primaryText">Användningsområden</h1>
    <div class="flex flex-col lg:flex-row w-full pb-4 lg:pt-12">
      <div
        #leftOffersDiv
        class="flex w-[75%] lg:w-1/3 h-auto mx-auto my-12 lg:my-0 lg:mx-8"
      >
        <div
          #offerCard
          class="flex-col flex w-full h-full bg-secondary rounded-default p-8"
        >
          <div class="w-full justify-center flex flex-col">
            <h1 class="text-3xl text-secondaryText text-center font-semibold">
              Gym
            </h1>
            <h1 class="text-xl text-secondaryText text-center mt-4">
              Förbättra träningsupplevelsen
            </h1>
            <div class="w-full h-[1px] bg-primary mx-auto my-8"></div>
          </div>
          <div
            *ngFor="let bulletPoint of bulletPoints"
            class="flex flex-row w-full justify-between my-2 lg:my-3"
          >
            <div class="flex w-1/5 h-8">
              <img
                src="./assets/images/{{ bulletPoint.icon }}"
                alt="Bullet Point Icon"
              />
            </div>
            <p
              class="text-base lg:text-lg w-4/5 items-center flex text-left ml-4"
            >
              {{ bulletPoint.text }}
            </p>
          </div>

          <button
            (click)="scrollToSection('footerSection')"
            class="btn h-20 mt-4 cursor-pointer"
          >
            <p class="btn-inner">Kontakta oss</p>
          </button>
        </div>
      </div>
      <div
        #centerOffersDiv
        class="flex w-[75%] lg:w-1/3 h-auto scale-110 mx-auto my-12 lg:my-0 lg:mx-8"
      >
        <div
          #offerCard
          class="flex-col flex w-full h-full bg-secondary rounded-default p-8"
        >
          <div class="card-ribbon">Populärast</div>

          <div class="w-full justify-center flex flex-col">
            <h1 class="text-3xl text-secondaryText text-center font-semibold">
              Butiker
            </h1>
            <h1 class="text-xl text-secondaryText text-center mt-4">
              Digitalisera och informera
            </h1>
            <div class="w-full h-[1px] bg-primary mx-auto my-8"></div>
          </div>
          <div
            *ngFor="let bulletPoint of bulletPoints2"
            class="flex flex-row w-full justify-between my-2 lg:my-3"
          >
            <div class="flex w-1/5 h-8">
              <img
                src="./assets/images/{{ bulletPoint.icon }}"
                alt="Bullet Point Icon"
              />
            </div>
            <p
              class="text-base lg:text-lg w-4/5 items-center flex text-left ml-4"
            >
              {{ bulletPoint.text }}
            </p>
          </div>
          <button
            (click)="scrollToSection('footerSection')"
            class="btn2 h-20 mt-4 cursor-pointer"
          >
            <p class="btn-inner">Kontakta oss</p>
          </button>
        </div>
      </div>
      <div
        #rightOffersDiv
        class="flex w-[75%] lg:w-1/3 h-auto mx-auto my-12 lg:my-0 lg:mx-8"
      >
        <div
          #offerCard
          class="flex-col flex w-full h-full bg-secondary rounded-default p-8"
        >
          <div class="w-full justify-center flex flex-col">
            <h1 class="text-3xl text-secondaryText text-center font-semibold">
              Fler verksamheter
            </h1>
            <h1 class="text-xl text-secondaryText text-center mt-4">
              Vi skräddarsyr en lösning
            </h1>
            <div class="w-full h-[1px] bg-primary mx-auto my-8"></div>
          </div>
          <div
            *ngFor="let bulletPoint of bulletPoints3"
            class="flex flex-row w-full justify-between my-2 lg:my-3"
          >
            <div class="flex w-1/5 h-8">
              <img
                src="./assets/images/{{ bulletPoint.icon }}"
                alt="Bullet Point Icon"
              />
            </div>
            <p
              class="text-base lg:text-lg w-4/5 items-center flex text-left ml-4"
            >
              {{ bulletPoint.text }}
            </p>
          </div>
          <button
            (click)="scrollToSection('footerSection')"
            class="btn h-20 mt-4 cursor-pointer"
          >
            <p class="btn-inner">Kontakta oss</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
