<div
  id="productVideoSection"
  class="w-full h-auto justify-center items-center flex-col max-w-[1000px] mx-auto hide-before-animate"
  animateDivEntry
>
  <h1 class="templett-flow-header text-primaryText">Våra Produkter</h1>

  <div
    class="flex mx-auto flex-col-reverse lg:flex-row-reverse w-[80%] py-12 gap-8"
  >
    <div #leftAboutUsDiv class="flex flex-col w-full lg:w-1/2">
      <h1 class="text-3xl font-semibold pb-3 text-primaryText">
        Se vår produktvideo
      </h1>
      <p class="text-primaryText">
        Se vår introduktionsvideo till hur Templett stickers fungerar. Här
        förtydligar vi allt som kan behövas veta. Med fokus på användarvänlighet
        och kreativitet strävar vi efter att ge verktyg åt butiker för att
        marknadsföra sina produkter och tjänster på ett modernt och engagerande
        sätt. Vi strävar efter att ständigt utveckla och förbättra vår teknologi
        för att möta behoven hos våra användare och deras kunder.
      </p>
    </div>
    <div #rightAboutUsDiv class="flex w-full lg:w-1/2 pb-8 lg:pb-0 lg:mx-4">
      <iframe
        class="rounded-default"
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/qp5il7yhM4Y"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
