<div
  id="productVideoSection"
  class="w-full h-auto justify-center items-center flex-col max-w-[1200px] mx-auto hide-before-animate"
  animateDivEntry
>
  <div class="flex mx-auto flex-col-reverse lg:flex-row w-[80%] pt-12 gap-8">
    <div #leftAboutUsDiv class="flex flex-col w-full lg:w-1/2">
      <h1 class="text-3xl font-semibold pb-3 text-primaryText">
        Se vår produktvideo
      </h1>
      <p class="text-primaryText">
        Se vår introduktionsvideo till hur Templett stickers fungerar. Här
        förtydligar vi allt som kan behövas veta. Denna video är ännu ej
        inspelad och kommer så småning om att dyka upp här.
      </p>
    </div>
    <div #rightAboutUsDiv class="flex w-full lg:w-1/2 pb-8 lg:pb-0 lg:mx-4">
      <iframe
        class="rounded-default"
        width="100%"
        height="250"
        src="https://www.youtube.com/embed/qp5il7yhM4Y"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
