.sticker-div {
    width: 100% !important;
    height: 330px !important;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .sticker-div {
        height: 180px !important;
        justify-content: center;
    }
}
.sticker{
    position: fixed;
    transform-origin: top left;
    transform: rotate(270deg);
    margin-left: -50px;
    opacity: 0.3;
}

.sticker:nth-child(1) {
    margin-bottom: -100px;
}

.sticker:nth-child(2) {
        margin-bottom: -80px;
}

.sticker:nth-child(3) {
    margin-bottom: -60px;
}