@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/styles/animate-div";
@import "assets/styles/templett-flow-header";
@import "assets/styles/card-ribbon";

html,
body {
  height: 100%;

  margin: 0;
  padding: 0;
}

.h1 {
  margin: 0 auto 15px;
  z-index: 1;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

h2,
h3,
p {
  font-family: "Poppins", sans-serif;
}

.no-scroll {
  overflow: hidden;
}
